body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 使页面占满整个视口高度 */
}
/* header */
.header {
  background-color: #fff;
  /* color: #FFC2A0; */
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600 ;
  
}
.mb_header_shadow_line{
  margin: 0;
  height: 2px;
}


.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
 
}


.logo {
  flex: 1;
  max-width: 130px;
}


.logo img {
  max-width: 100%;
  height: auto;
}


.navigation {
  flex: 1;
}

.mb_shopping_cart{
  max-width: 20px;
  margin-top: -6px;
}
.mb_header_line{
   
  border-right:1px solid #A5A5A5;
}

.mb_login_btn{
  margin-top: -2px;
  display: flex;
  align-items: center;
  height: 26px;
  color: #A7D87D;
  border-color: #A7D87D;
}


.navigation > ul {
  list-style: none;
  margin-top: revert;
  padding: 0;
  padding-left: 80px;
  display: flex;
  justify-content: space-around;
}


.navigation > ul > li {
 padding-right: 45px;
}




.navigation > ul > li:last-child {
  margin-right: 0;
}


.header a {
  text-decoration: none;
  color: #A5A5A5;
}






/* footer */
.footer {
  background-color: #EDEDED;
  color: #000;
  padding: 30px 0;
  font-size: 16px;
   
}


.footer h3 {
  font-weight: Semi bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.footer-section {
  flex: 1;
  margin-right: 20px;
}


.footer-section:last-child {
  margin-right: 0;
}


.footer ul {
  list-style: none;
  padding: 0;
}


.footer li {
  margin-bottom: 5px;    
}


.footer a {
  text-decoration: none;
  color: #000;
}

.hidden{
  display: none;
}



