<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>商品管理-商品查詢-新增商品</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/backend_sidebar.css}">
<link rel="stylesheet" th:href="@{/css/backen_pro_add.css}">
<link rel="stylesheet" type="text/css" th:href="@{/datetimepicker/jquery.datetimepicker.css}" />

</head>


<body>

	<aside class="sidebar">
		<img class="backend_sidebar_logo"
			src="${pageContext.request.contextPath}/images/F%C3%BCr_Elise.svg"
			alt="">
		<hr>
		<h2>Für Elise</h2>
		<hr>
	</aside>
	<div class="headerPage"></div>


	<div class="container">
		<div class="backendSidebarPage"></div>
		<div>


			<main class="content">

				<div class="yh_pro_detail">
					<b class="yh_the_detail_n">商品資料新增</b>
					<div class="yh_the_detail">
						<h3>
						</h3>

						<form th:action="@{/product-backen/add}" method="post"
							enctype="multipart/form-data" th:object="${product}">
							<div>
								<label for="pName">商品名稱:</label> 
								<input placeholder="必填" id="pName" name="pName" type="text" th:field="*{pName}" onclick="hideContent('pName.errors');" /> 
								<span  th:if="${#fields.hasErrors('pName')}" th:errors="*{pName}" class="error" id="pName.errors"></span>
								<span class="error" th:utext="${errorMsgs}">${errorMsgs}</span>
<!-- 								<span th:if="${#fields.hasErrors('pName')}" th:errors="*{pName}" class="error" id="pName.errors"></span> -->
							</div><br>

							<div>
								<label for="pPrice">商品價格:</label> <input placeholder="必填" id="pPrice" name="pPrice" type="text" th:field="*{pPrice}" onclick="hideContent('pPrice.errors');" /> 
								<span  th:if="${#fields.hasErrors('pPrice')}" th:errors="*{pPrice}" class="error" id="pPrice.errors"></span>
								<span class="error" th:utext="${errorMsgs}">${errorMsgs}</span>
<!-- 									<span -->
<!-- 									th:if="${#fields.hasErrors('pPrice')}" th:errors="*{pPrice}" -->
<!-- 									class="error" id="pPrice.errors"></span> -->
							</div><br>

							<div>
								<label for="pStock">庫存:</label> 
								<input id="pStock" name="pStock" type="text" th:field="*{pStock}" onclick="hideContent('pStock.errors');" /> 
								<span  th:if="${#fields.hasErrors('pStock')}" th:errors="*{pStock}" class="error" id="pStock.errors"></span>
								<span class="error" th:utext="${errorMsgs}">${errorMsgs}</span>
							</div><br>

							<div>
								<label for="pStatus">商品狀態:</label> 
								<select name="pStatus" id="pStatus">
									<option th:value="true"
										th:text="${product.pStatus == null ? '上架中' : product.pStatus ? '上架中' : '未上架'}"></option>
									<option th:value="false"
										th:text="${product.pStatus == null ? '未上架' : product.pStatus ? '未上架' : '上架中'}"></option>
								</select> 
							</div><br>

							<div>
								<label for="pUpload">上傳日期:</label> 
								<input id="pUpload" name="pUpload" type="date" th:field="*{pUpload}" onclick="hideContent('pUpload.errors');" /> 
								<span  th:if="${#fields.hasErrors('pUpload')}" th:errors="*{pUpload}" class="error" id="pUpload.errors"></span>
								<span class="error" th:utext="${errorMsgs}">${errorMsgs}</span>
							</div><br>

							<div>
								<label for="pDetail">商品描述:</label> <input id="pDetail" name="pDetail" type="text" th:field="*{pDetail}" onclick="hideContent('pDetail.errors');" /> 
							</div><br>

							<div>
								<label for="pClassID">商品類別:</label> 
								<select id="pClassID" name="pClassID" th:field="*{productClass.pClassID}">
									<option th:each="productClass : ${productClassListData}" th:value="${productClass.pClassID}"  th:text="${productClass.pClassName}"></option>
								</select>
							</div><br>
							
							<div>
							<label for="pImage1">照片:</label>
							<input id ="pImage1" th:field="*{pImage1}" name="pImage1" type="file" onChange="previewImage(this, 'blob_holder1')" multiple="multiple" />
				            <span  th:if="${#fields.hasErrors('pImage1')}" th:errors="*{pImage1}" class="error" id="pImage1.errors"></span> 
							<span class="error" th:utext="${errorMsgs}">${errorMsgs}</span>
							<div id="blob_holder1"></div>
							</div>
							
							
							<div>
							<label for="pImage2">照片:</label>
							<input id ="pImage2" name="pImage2" type="file" onChange="previewImage(this, 'blob_holder2')" multiple="multiple" />
							<div id="blob_holder2"></div>
							</div>
							
							<div>
							<label for="pImage3">照片:</label>
							<input id ="pImage3" name="pImage3" type="file" onChange="previewImage(this, 'blob_holder3')" multiple="multiple" />
							<div id="blob_holder3"></div>
							</div>

							<div>
								<div style="display:float">
								<a th:href="all"><button style="width: 120px" type="button" class="sl_btn_disable">回商品列表</button></a>
								<button type="submit" id="submit" class="btn btn-primary sl_btn_chakan" style="background-color:#9ac972 ; border:#9ac972; margin-top:0;">送出新增</button>
								</div>
							</div>
						</form>

					</div>

				</div>


			</main>
		</div>
	</div>


	<div class="footerPage"></div>


	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/datetimepicker/jquery.js}"></script>
	<script th:src="@{/datetimepicker/jquery.datetimepicker.full.js}"></script>

	<script type="text/javascript">
			window.addEventListener("load",function() {
					$(".backendSidebarPage").load("/backendSidebar.html");

					 // 取得當前日期
			        var today = new Date();

					// 預設日期為 'YYYY-MM-DD'
			        var formattedDate = today.toISOString().split('T')[0];

			        // 設置商品上船日期输入框的值為今天
			        $('#pUpload').val(formattedDate);

			        // 初始化 datetimepicker
			        $('#f_date1').datetimepicker({
			            theme: '',
			            timepicker: false,
			            step: 1,
			            format: 'Y-m-d',
			            value: saleStartValue,
			            minDate: '-1970-01-01',
			        });
			});
			
			//照片上傳-預覽用1
	        var filereader_support = typeof FileReader != 'undefined';
	        if (!filereader_support) {
	        	alert("No FileReader support");
	        }
	        acceptedTypes = {
	        		'image/png' : true,
	        		'image/jpeg' : true,
	        		'image/gif' : true
	        };
	        function previewImage(inputElement, targetId) {
//	         	var upfile1 = document.getElementById("pImage1");
	        	
//	         	upfile1.addEventListener("change", function(event) {
	        		var files = inputElement.files;
	        		for (var i = 0; i < files.length; i++) {
	        			previewfile(files[i], targetId)
	        		}
//	         	}, false);
	        }
	        function previewfile(file, targetId) {
	        	const blobHolderElement = document.querySelector('#' + targetId);
	        	
	        	
	        	if (filereader_support === true && acceptedTypes[file.type] === true) {
	        		var reader = new FileReader();
	        		reader.onload = function(event) {
	        			var image = new Image();
	        			image.src = event.target.result;
	        			image.width = 100;
	        			image.height = 75;
	        			image.border = 2;
	        			if (blobHolderElement.hasChildNodes()) {
	        				blobHolderElement.removeChild(blobHolderElement.childNodes[0]);
	        			}
	        			blobHolderElement.appendChild(image);
	        		};
	        		reader.readAsDataURL(file);
	        		document.getElementById('submit').disabled = false;
	        	} else {
	        		blobHolderElement.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
	        				+ "<br>" + "● ContentTyp: " + file.type
	        				+ "<br>" + "● size: " + file.size + "bytes"
	        				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
	        		document.getElementById('submit').disabled = true;
	        	}
	        }
	</script>
</body>

</html>