<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/backend_form.css">
    <link rel="stylesheet" href="css/membackend.css">
</head>


<body>
    


    <div class="container">
        <div class="backendSidebarPage"></div>
        <main class="content">
            <p class="p_title">申訴紀錄>詳情 </p>
            <table id="example" class="display" style="width:100%">
                

                

                <form action="#" method="post">
                    <label for="complaintID">申訴編號：</label>
                    <input type="text" id="complaintID" name="complaintID" required>
                    <br>
                    <br>
                    <label for="estabcaseID">案件編號：</label>
                    <input type="text" id="estabcaseID" name="estabcaseID" required>
                    <br>
                    <br>
                    <label for="complaintName">申訴人姓名：</label>
                    <input type="text" id="complaintName" name="complaintName" required>
                    <br>
                    <br>
                    <label for="phone">申訴人電話：</label>
                    <select id="phone" name="phone">
                        <option value="mobile">0912-345678</option>
                        <option value="home">0988-654321</option>
                    </select>
                    <br>
                    <br>
                    <label for="complaintDate">申訴日期：</label>
                    <input type="date" id="complaintDate" name="complaintDate" required>
                    <br>
                    <br>
                    <label for="empID">夥伴編號：</label>
                    <input type="text" id="empID" name="empID" required>
                    <br>
                    <br>
                    <label for="comDetail">反映內容：</label>
                    <input type="text" id="comDetail" name="comDetail" required>
                    <br>
                    <br>
                    <button type="button" onclick="history.back()">回上一頁</button>
                    <button type="submit" name="suspend">已處理</button>
                </form>

                <tfoot>
                    
                </tfoot>
            </table>
        </main>
    </div>


    <div class="footerPage"></div>


    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script>
        new DataTable('#example');
    </script>
    <script>
       $(".backendSidebarPage").load("backendSidebar.html");
    </script>
</body>


</html>

