<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>夥伴停權頁面</title>
    <link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/backend_form.css}">
    <link rel="stylesheet" th:href="@{/css/empbackend.css}">
</head>

<body>    
    <div class="container">
        <div class="backendSidebarPage"></div>
        <main class="content">
            <p class="p_title">夥伴管理 > 夥伴詳細資料</p>
            <table id="example" class="display" style="width:100%">
                               
                <form th:action="@{/emp/edit}" method="post" th:value="${emp.empID}">
                    <label for="empID">夥伴ID：</label>
                    <input type="text" id="empID" name="empID" th:value="${emp.empID}" readonly>
                    <br>
                    <br>
                    <label for="empName">夥伴姓名：</label>
                    <input type="text" id="empName" name="empName" th:value="${emp.empName}" readonly>
                    <br>
                    <br>
                    <label for="email">電子信箱：</label>
                    <input type="email" id="email" name="empMail" th:value="${emp.empMail}" readonly>
                    <br>
                    <br>
                    <label for="phone">夥伴電話：</label>
                    <input type="text" id="phone" name="empTel" th:value="${emp.empTel}" readonly>
                    <br>
                    <br>
                    <label for="registrationTime">註冊時間：</label>
                    <input type="datetime-local" id="empRegiDate" name="empRegiDate" th:value="${emp.empRegiDate}" readonly>
                    <br>
                    <br>
                    <label for="empLicense">交通工具：</label>
                    <input type="text" id="empLicense" name="empLicense" th:value="${emp.empLicense}? '機車' : '汽車'" readonly>
                    <br>
                    <br>
                    <label for="timeID">工作時段ID：</label>
                    <input type="text" id="timeID" name="timeID" th:value="${emp.timeID}" readonly>
                    <br>
                    <br>
                    <label for="empArea1">第一順位工作區：</label>
                    <input type="text" id="empArea1" name="empArea1" th:value="${emp.empArea1}" readonly>
                    <br>
                    <br>
                    <label for="empArea2">第二順位工作區：</label>
                    <input type="text" id="empArea2" name="empArea2" th:value="${emp.empArea2}" readonly>
                    <br>
                    <br>
                    <label for="empArea3">第三順位工作區：</label>
                    <input type="text" id="empArea3" name="empArea3" th:value="${emp.empArea3}" readonly>
                    <br>
                    <br>
                    <label for="bankCode">薪資金融機構：</label>
                    <input type="text" id="bankCode" name="bankCode" th:value="${emp.bankCode}" readonly>
                    <br>
                    <br>
                    <label for="accountNo">薪資戶帳號：</label>
                    <input type="text" id="accountNo" name="accountNo" th:value="${emp.accountNo}" readonly>
                    <br>
                    <br>
                    <!-- 身分證圖片顯示區 -->
                    <div id="IDF">
                        <img th:src="${emp.IDF}" alt="身分證照片(正面)">
                    </div>
                    <br>
                    <br>
                    <!-- 身分證圖片顯示區 -->
                    <div id="IDB">
                        <img th:src="${emp.IDB}" alt="身分證照片(背面)">
                    </div>
                    <br>
                    <br>
                    <!-- 汽機車駕照圖片顯示區 -->
                     <div id="licenseF">
                        <img th:src="${emp.licenseF}" alt="汽機車駕照(正面)">
                    </div>
                    <br>
                    <br>
                    <!-- 三個按鈕 -->
                    <button type="button" onclick="history.back()">回上一頁</button>
                    
                    <button type="submit" class="sl_sp_badge" th:text="${emp.empIsSuspended} ? '啟用' : '停權'"></button>
                </form>
                
                <tfoot>
                    
                </tfoot>
            </table>

            
        
                
           
        </main>
    </div>


    <div class="footerPage"></div>


    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script>
        new DataTable('#example');
    </script>
    <script>
       $(".backendSidebarPage").load("backendSidebar.html");
    </script>
    

</body>


</html>

