<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="css/backend_form.css">
    </head>
    
    
    <body>
        <div class="backendSidebarPage"></div>
        <div class="headerPage"></div>
        
    
        <div class="container">
           
            <main class="content">
                <p class="p_title">夥伴註冊審查</p>
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>夥伴ID</th>
                            <th>夥伴名字</th>
                            <th>身份證字號</th>
                            <th>汽機車駕照</th>
                            <th>狀態</th>
                            <th>查看詳情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A0001</td>
                            <td>王曉明</td>
                            <td>A123456789</td>
                            <td>aaa.jpg</td>
                            <td>審核成功</td>
                            <td><a href="./b_plan_ord_detail.html"><span class="sl_sp_badge"
                                        style="background-color: #9ac972">查看詳情</span></a></td>
                            <!-- <td><button type="button" class="sl_btn_chakan">查看詳情</button></td> -->
                        </tr>
                        <tr>
                            <td>A0002</td>
                            <td>王忠明</td>
                            <td>B123456789</td>
                            <td>bbb.jpg</td>
                            <td>審核失敗</td>
                            <td><a href="./b_plan_ord_detail.html"><span class="sl_sp_badge"
                                        style="background-color: #9ac972">查看詳情</span></a></td>
                            <!-- <td><button type="button" class="sl_btn_chakan">查看詳情</button></td> -->
                        </tr>
                        <tr>
                            <td>A0003</td>
                            <td>王大明</td>
                            <td>C123456789</td>
                            <td>ccc.jpg</td>
                            <td>審核成功</td>
                            <td><a href="./b_plan_ord_detail.html"><span class="sl_sp_badge"
                                        style="background-color: #9ac972">查看詳情</span></a></td>
                            <!-- <td><button type="button" class="sl_btn_chakan">查看詳情</button></td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>夥伴ID</th>
                            <th>夥伴名字</th>
                            <th>身份證字號</th>
                            <th>汽機車駕照</th>
                            <th>狀態</th>
                            <th>查看詳情</th>
                        </tr>
                    </tfoot>
                </table>
            </main>
        </div>
    
    
        <div class="footerPage"></div>
    
    
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/jquery-3.7.1.min.js"></script>
        <script src="./js/jquery.dataTables.min.js"></script>
        <script>
            new DataTable('#example');
        </script>
        <script>
            $(".backendSidebarPage").load("backendSidebar.html");
         </script>
    </body>
    
    
    </html>
            


