<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>網站導覽</h3>
                <ul>
                    <li><a href="#">方案介紹</a></li>
                    <li><a href="#">購物商城</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">成為收取夥伴</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>關注Für Elise</h3>
                <a href="#"><img src="/images/entypo-social_fb-with-circle.svg" alt="facebook Logo"></a>
                <a href="#"><img src="/images/entypo-social_instagram-with-circle.svg" alt="instagram Logo"></a>
                <a href="#"><img src="/images/entypo-social_youtube-with-circle.svg" alt="youtube Logo"></a>
            </div>


            <div class="footer-section">
                <h3>聯繫我們</h3>
                <p>
                    給愛麗絲有限公司<br>
                    統一編號：90355170<br>
                    信箱：test101@elise.com.tw<br>
                    104台北市中山區南京東路三段219號5樓
                </p>
            </div>
        </div>
    </footer>
</body>
</html>