<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img src="/images/Für_Elise.svg" alt="Your Logo" width="500">
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="#">方案介紹</a></li>
                    <li><a href="#">購物商城</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">成為收取夥伴</a></li>
                    <li><a href="#"><img src="/images/shopping_cart.svg" alt="shopping cart"></a></li>
                    <li><a href="#">登入/註冊(已登入狀態要改成會員中心)</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>