<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 案件管理頁面 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心-方案管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/emp_sidebar.css}">

    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <link rel="stylesheet" th:href="@{/css/jack_caseManagement.css}">
</head>

<body>
<div class="headerPage"></div>
<div style="width: 100%; display: flex; justify-content: center;">
    <div style="max-width: 1200px; display: flex;">
        <div class="empSidebarPage"></div>
        <!-- empsidebar -->
        <div style="width: 950px; padding: 10px;">


            <div class="jack_container">
                <main class="content">
                    <p class="jack_section_title">進行中案件</p>
                    <table id="example" class="display" style="width:100%">

                        <thead>
                        <tr>
                            <th>案件編號</th>
                            <th>收取時間</th>
                            <th>地點</th>
                            <th>案件資訊</th>
                            <th>案件狀況</th>
                            <th>是否棄單</th>
                        </tr>
                        </thead>

                    </table>
                </main>
            </div>


                        <div class="jack_container">
                            <main class="content">
                                <div class="jack_section_title">已完成案件</div>
                                <table id="example1" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>案件編號</th>
                                        <th>收取時間</th>
                                        <th>地點</th>
                                        <th>收入</th>
                                        <th>案件資訊</th>
                                    </tr>
                                </table>
                            </main>
                        </div>


        </div>
    </div>
</div>

<div class="footerPage"></div>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>



<script th:src="@{/js/jack_caseManagement.js}"></script>
<script th:src="@{/js/constant.js}"></script>

<script th:inline="javascript">
    $(".footerPage").load("/footer.html");
    $(".empSidebarPage").load("/empSidebar.html");

    var empID = /*[[${empID}]]*/ null;//設置全域變數，交給.js檔案使用
    // console.log('empID:', empID);
</script>

</body>


</html>