<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 案件管理-進行中案件資訊 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心-方案管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/emp_sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/jack_ongoingCases.css}">
</head>

<body>
    <div class="headerPage"></div>


    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="max-width: 1200px; display: flex;">
            <div class="empSidebarPage"></div>
            <!-- empsidebar -->
            <div style="width: 950PX; padding: 10px;">


                <div class="jack_container">
<!--                    <div class="jack_section">-->
                        <div class="jack_section_title" th:text="'案件編號: ' + ${empOngoingCase.estabCaseID}"></div>
                        <div class="jack_income" th:utext="'收入$' + ${empOngoingCase.planPricePerCase}"></div>
                        <table class="jack_case_info">

                            <ul class="jack_info_list">
                                <li><strong>收取日期:</strong> <span th:utext="${empOngoingCase.estabCaseDate}"></span></li>
                                <li><strong>收取區間:</strong> <span th:utext="${empOngoingCase.timeRange}"></span></li>
                                <li><strong>收取地址:</strong> <span th:utext="${empOngoingCase.cityCode + empOngoingCase.cityName + empOngoingCase.floor}"></span></li>
                                <li><strong>收取方式:</strong> <span th:utext="${empOngoingCase.wayName}"></span></li>
                            </ul>

                            <div class="row">
                                <div class="col-10">
                                    <button class="jack_button_accept"
                                            th:attr="data-action='accept', data-id=${empOngoingCase.estabCaseID}"
                                            onclick="updateStatus('accept', this.getAttribute('data-id'))">接受訂單
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="jack_button_reject"
                                            th:attr="data-action='reject', data-id=${empOngoingCase.estabCaseID}"
                                            onclick="updateStatus('reject', this.getAttribute('data-id'))">拒絕訂單
                                    </button>
                                </div>
                            </div>

                        </table>
<!--                    </div>-->
                </div>


                <div class="jack_container">

                </div>

                <div class="jack_container">
                    <div class="jack_section">
                        <div class="jack_section_title">執行狀況回復</div>
                        <div class="jack_upload_container">

                            <!-- 圖片預覽 -->
                            <img id="jack-preview" class="jack_preview" alt="預覽圖片">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10">
                            <label for="jack-upload" class="jack_button_accept">上傳照片</label>
                            <input type="file" id="jack-upload" class="jack_upload_input" accept="image/*">
                        </div>
                        <div class="col-2">
                            <button type="button" class="jack_button_return" data-toggle="modal" data-bs-target="#exampleModal2" onclick="SystemTime()">回報問題</button>
                            <!-- <button class="jack_button_reject" onclick="showReportIssuePopup()">回報問題</button> -->
                        </div>
                        <div class="col-12">
                            <button class="jack_button_accept">完成收取</button>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </div>

        <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">

                    <div class="modal-header mb_modal_header">
                        <div class="mb_modal_header_h5">
                            <h5 class="modal-title mb_modal_title" id="estabCaseID" th:text="'案件編號: ' + ${empOngoingCase.estabCaseID}"></h5>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body mb_modal_body">
                        <form>
                            <div class="mb-3 mb_modal_body_div" >
                                <div class="mb_modal_div">
                                    <!-- 方案及商品基本資料 -->
                                    <label for="recipient-name" class="col-form-label mb_modal_label" th:text="'收取日期: '+ ${empOngoingCase.estabCaseDate}"></label>
                                </div>
                                <div class="mb_modal_div">
                                    <label for="recipient-name" class="col-form-label mb_modal_label" th:text="'時段 : '+ ${empOngoingCase.timeRange}"></label>
                                </div>
                                <div class="mb_modal_div">
                                    <label for="recipient-name" class="col-form-label mb_modal_label" th:text="'收取員 : '+ ${empOngoingCase.empName}"></label>
                                </div>
                                <div class="mb_modal_div">
                                    <label for="recipient-name" class="col-form-label mb_modal_label" id="system-time"></label>
                                </div>

                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">聯絡電話 : </label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label for="message-text" class="col-form-label">內容</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer mb_estab_case_level_modal_footer">
                        <button type="button" class="btn btn-secondary mb_estab_case_complaint_cancel_btn" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary mb_estab_case_complaint_confirm_btn">送出</button>
                    </div>

                </div>
            </div>
        </div>




    <div class="footerPage"></div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jack_ongoingCases.js}"></script>
<script>
    $(document).ready(function() {
        $(".mb_estab_case_complaint_confirm_btn").click(function() {

            var phoneNumber = $("#recipient-name").val();
            var content = $("#message-text").val();
            // console.log(phoneNumber);
            // console.log(content);
            // console.log("xxx");

            // 案件編號: 190002
            // 收取日期: 2023-12-04 時段 : 09:00-17:00
            // 收取員ID
            // 聯絡電話
            // 內容

            /* [[ ${} ]] */
            var estabCaseID = /*[[${empOngoingCase.estabCaseID}]]*/ 'default';


            var formData = {
                estabCaseID: estabCaseID,
                // empID: yourEmpIDValue,
                comDetail: content,

                comTel: phoneNumber,
                estabCaseDate: $("#estabCaseDate").text(),
                timeRange: $("#timeRange").text(),
                empName: $("#empName").text(),

                // 'estabCaseDate': $('.mb_modal_label[for="recipient-name"]').text().split(': ')[1],
                // 'timeRange': $('.mb_modal_label[for="recipient-name"]').text().split(': ')[1],
                // 'empName': $('.mb_modal_label[for="recipient-name"]').text().split(': ')[1],
                // 'contactNumber': $('#recipient-name').val(),
            };
            console.log(formData);

            // Ajax 請求
            $.ajax({
                type: "POST",
                url: "/complaint",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function(response) {

                    console.log(response);
                },
                error: function(error) {

                    console.log(error);
                }
            });
        });
    });
    function SystemTime(){
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();

        hours = (hours < 10 ? "0" : "") + hours;
        minutes = (minutes < 10 ? "0" : "") + minutes;
        seconds = (seconds < 10 ? "0" : "") + seconds;

        var formattedTime = "現在時間 : " + hours + ":" + minutes + ":" + seconds;
        document.getElementById("system-time").innerText = formattedTime;
    }
    function updateStatus(action, estabCaseID) {

        console.log("asdsa");
        var acceptButton = $('.jack_button_accept[data-action="accept"][data-id="' + estabCaseID + '"]');
        var rejectButton = $('.jack_button_reject[data-action="reject"][data-id="' + estabCaseID + '"]');
        $.ajax({
            type: 'POST',
            url: '/updateCaseStatus',
            data: {
                action: action,
                estabCaseID: estabCaseID
            },
            success: function (response) {

                console.log('Update successful');

                if (response) {
                    if (action === 'accept') {
                        acceptButton.text('已接單').prop('disabled', true);
                        rejectButton.prop('disabled', true);
                        console.log('Accept logic');

                    } else if (action === 'reject') {

                        rejectButton.text('已拒絕').prop('disabled', true);
                        acceptButton.prop('disabled', true);
                        console.log('Reject logic');
                    }
                } else {
                    console.log('Unexpected success response');
                }
            },
            error: function (error) {
                console.error('Update failed', error);
            }
        });
    }
</script>
</body>

</html>