<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 案件管理-進行中案件資訊 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心-方案管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/emp_sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/jack_ongoingCases.css}">
</head>

<body>
<div class="headerPage"></div>


<div style="width: 100%; display: flex; justify-content: center;">
    <div style="max-width: 1200px; display: flex;">
        <div class="empSidebarPage"></div>
        <!-- empsidebar -->
        <div style="width: 950PX; padding: 10px;">


            <div class="jack_container">
                <!--                    <div class="jack_section">-->
                <div class="jack_section_title" th:text="'案件編號: ' + ${empOngoingCase.estabCaseID}"></div>
                <div class="jack_income" th:utext="'收入$' + ${empOngoingCase.planPricePerCase}"></div>
                <table class="jack_case_info">

                    <ul class="jack_info_list">
                        <li><strong>收取日期:</strong> <span th:utext="${empOngoingCase.estabCaseDate}"></span></li>
                        <li><strong>收取區間:</strong> <span th:utext="${empOngoingCase.timeRange}"></span></li>
                        <li><strong>收取地址:</strong> <span
                                th:utext="${empOngoingCase.cityCode + empOngoingCase.cityName + empOngoingCase.floor}"></span>
                        </li>
                        <li><strong>收取方式:</strong> <span th:utext="${empOngoingCase.wayName}"></span></li>
                        <li><strong>垃圾最大容量:</strong> <span th:utext="${empOngoingCase.liter + ' 公斤'}"></span>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-10">
                            <button class="jack_button_accept"
                                    th:attr="data-action='accept', data-id=${empOngoingCase.estabCaseID}"
                                    onclick="updateStatus('accept', this.getAttribute('data-id'))">接受訂單
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="jack_button_reject"
                                    th:attr="data-action='reject', data-id=${empOngoingCase.estabCaseID}"
                                    onclick="showConfirmationDialog(this)">拒絕訂單
                            </button>
                        </div>
                    </div>

                </table>
                <!--                    </div>-->
            </div>

            <div class="jack_container">
                <div class="jack_section">
                    <div class="jack_section_title">執行狀況回覆</div>
                    <div class="jack_upload_container">

                        <!-- 圖片預覽 -->
                        <!--                            <img id="jack-preview" class="jack_preview" alt="預覽圖片">-->
                        <article id="profile" style="margin-bottom: 10px">
                            <div class="inner" style="text-align: center;">
                                <br>
                                <div class="input-group mb-2">
                                    <input type="file" class="form-control" id="myFile"
                                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                    <button class="btn btn-outline-secondary" type="button" id="upload-btn">
                                        上傳執行結果
                                    </button>
                                </div>
                                <div id="jack-preview" style="text-align: center;"></div>
                                <!--            <img alt="kp-1" id="kp" src=""/>-->
                            </div>
                        </article>


                    </div>
                </div>

                <div class="row">
                    <div class="col-10">
                        <button type="button" id="complaintButton" class="jack_button_return" data-toggle="modal"
                                data-bs-target="#exampleModal2" onclick="SystemTime()">回報問題
                        </button>
                        <!-- <button class="jack_button_reject" onclick="showReportIssuePopup()">回報問題</button> -->
                    </div>
                    <div class="col-2">
                        <button id="btnCaseInfo" class="jack_button_accept" onclick="redirectToCompletedPage()">完成收取</button>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

<div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">

            <div class="modal-header mb_modal_header">
                <div class="mb_modal_header_h5">
                    <h5 class="modal-title mb_modal_title" id="estabCaseID"
                        th:text="'回報問題 案件編號: ' + ${empOngoingCase.estabCaseID}"></h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mb_modal_body">
                <form>
                    <div class="mb-3 mb_modal_body_div">
                        <div class="mb_modal_div">
                            <!-- 方案及商品基本資料 -->
                            <label for="recipient-name" class="col-form-label mb_modal_label"
                                   th:text="'收取日期: '+ ${empOngoingCase.estabCaseDate}"></label>
                        </div>
                        <div class="mb_modal_div">
                            <label for="recipient-name" class="col-form-label mb_modal_label"
                                   th:text="'時段 : '+ ${empOngoingCase.timeRange}"></label>
                        </div>
                        <div class="mb_modal_div">
                            <label for="recipient-name" class="col-form-label mb_modal_label"
                                   th:text="'收取員 : '+ ${empOngoingCase.empName}"></label>
                        </div>
                        <div class="mb_modal_div">
                            <label for="recipient-name" class="col-form-label mb_modal_label" id="system-time"></label>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">聯絡電話 : </label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="請輸入電話號碼 (e.g., 0912343456)" required>
<!--                            <input type="text" class="form-control" id="recipient-name" pattern="^(09\d{8})$" title="請輸入正確格式的電話號碼 (e.g., 09xxxxxxxx)" required>-->
                        </div>
                    </div>
                    <div class="mb-3 ">
                        <label for="message-text" class="col-form-label">內容</label>
                        <textarea class="form-control" id="message-text" placeholder="申訴內容"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer mb_estab_case_level_modal_footer">
                <button type="button" class="btn btn-secondary mb_estab_case_complaint_cancel_btn"
                        data-bs-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary mb_estab_case_complaint_confirm_btn"
                        onclick="submitComplaint()">送出
                </button>
            </div>

        </div>
    </div>
</div>


<div class="footerPage"></div>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/constant.js}"></script>

<script>

    var model;
    var takeStatus = [[${empOngoingCase.takeStatus}]];//用來更改此頁面的接單狀態

    $(document).ready(function () {
        modal = $('#exampleModal2');

        $('.jack_button_return').click(function () {
            console.log("有進來");
            modal.modal('show');
        });

    });

        $(".footerPage").load("/footer.html");
        $(".empSidebarPage").load("/empSidebar.html");

    function redirectToCompletedPage() {
        var estabCaseID = [[${empOngoingCase.estabCaseID}]];
        const files = $('#myFile').prop('files')
        if (!files[0]) {
            alert('請上傳案件執行狀況');
            return;
        }
        const completedestabCaseID = '[[${empOngoingCase.estabCaseID}]]';

        if(takeStatus !== true){
            alert('請先接取訂單');
            return;
        }
        $.ajax({
            url: '/estabcaseongo/completed',
            type: 'POST',
            data: {
                estabCaseID: completedestabCaseID,
            },
            success: function(data) {
                console.log(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error:', textStatus, errorThrown, jqXHR.responseText);
            }
        });

        var formData = new FormData();
        formData.append('file', files[0]);
        $.ajax({
            url: `/estabcaseongo/` + completedestabCaseID,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: (data) => {
                $("#jack-preview").html(
                    `
                        <div><img alt="preview" style="max-width: 50%; max-height: 50%;" src="data: image/jpeg;base64,${data.estabCasePic}"/></div>
                       `
                )
                window.location.href = '/completed/' + estabCaseID;//利用EmpCompletedCaseController轉發
            },
            error: (jqXHR, exception) => {
                alert(jqXHR.responseJSON.message)
            }
        })
        // window.location.href = '/completed/' + estabCaseID;
    }

    function submitComplaint() {
        // 取需要的資料
        var comTelNumber = document.getElementById('recipient-name').value;
        var content = document.getElementById('message-text').value;
        var telRegex = /^(09\d{8})$/;

        console.log("fun有效");
        // JSON
        var complaintData = {
            memID: null,//會員ID怎抓 何時為空
            empID: [[${empOngoingCase.empID}]],//資料是連動的
            estabCaseID: [[${empOngoingCase.estabCaseID}]], //estabCaseDate,
            comDetail: content,
            comTel: comTelNumber,
            comStatus: false,
        };

        if (!telRegex.test(comTelNumber)) {
            alert('請輸入正確格式的電話號碼 (e.g., 0912343456)');
            return;
        }else if (content.trim() === ''){
            alert('請填入申訴內容');
            return;
        }else {
            // 发送给后端
            $.ajax({
                type: "POST",
                url: "/estabcaseonging/complaint",
                contentType: "application/json",
                data: JSON.stringify(complaintData),
                success: function (response) {
                    console.log(response);
                    var complaintButton = document.getElementById('complaintButton');//更改問題回報按鈕的顯示文字，並禁止用戶再度提交
                    complaintButton.innerText = '已回報';
                    complaintButton.disabled = true;
                },
                error: function (error) {
                    console.log(error);
                }
            });
            modal.modal('hide');
        }
    }

    $("#upload-btn").click(() => {
        const estabCaseID = '[[${empOngoingCase.estabCaseID}]]';
        const files = $('#myFile').prop('files')
        if (!files[0]) {
            alert('請上傳檔案')
            return
        }
        var formData = new FormData();
        formData.append('file', files[0]);
        $.ajax({
            url: `/estabcaseongo/` + estabCaseID,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: (data) => {
                $("#jack-preview").html(
                    `
                        <div><img alt="preview" style="max-width: 100%; max-height: 100%;" src="data: image/jpeg;base64,${data.estabCasePic}"/></div>
                       `
                )
            },
            error: (jqXHR, exception) => {
                alert(jqXHR.responseJSON.message)
            }
        })
    })

    function showConfirmationDialog(button) {
        var estabCaseID = button.getAttribute('data-id');

        var isConfirmed = confirm("確定要拒絕訂單嗎？");

        if (isConfirmed) {
            updateStatus('reject', estabCaseID);
        } else {
            alert("已取消");
        }
    }

    function updateStatus(action, estabCaseID) {
        console.log("updateStatus有執行");
        var acceptButton = $('.jack_button_accept[data-action="accept"][data-id="' + estabCaseID + '"]');
        var rejectButton = $('.jack_button_reject[data-action="reject"][data-id="' + estabCaseID + '"]');

        $.ajax({
            type: 'POST',
            url: '/estabcase/updateCaseStatus',
            data: {
                action: action,
                estabCaseID: estabCaseID
            },
            success: function (response) {
                console.log('Update successful');

                if (response) {
                    if (action === 'accept') {
                        takeStatus = true;//在此頁面接單時 更改接單狀態
                        acceptButton.text('已接單').prop('disabled', true);
                        rejectButton.prop('disabled', true);//如果使用者按下接單後，不給拒絕的話，再加這行
                        console.log('Accept logic');
                    } else if (action === 'reject') {
                        rejectButton.text('已拒絕').prop('disabled', true);
                        acceptButton.prop('disabled', true);
                        console.log('Reject logic');
                        history.go(-1);
                        // location.reload();
                        // window.location.href = '/estabcasemanage/' //如果這裡要改成這樣，要去從session獲取empID
                    }
                } else {
                    console.log('Unexpected success response');
                }
            },
            error: function (error) {
                console.error('Update failed', error);
            }
        });
    }

    //抓取用戶端的時間，只顯示而不存入資料庫，資料庫那邊另外抓時間存
    function SystemTime() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();

        hours = (hours < 10 ? "0" : "") + hours;
        minutes = (minutes < 10 ? "0" : "") + minutes;
        seconds = (seconds < 10 ? "0" : "") + seconds;

        var formattedTime = "現在時間 : " + hours + ":" + minutes + ":" + seconds;
        document.getElementById("system-time").innerText = formattedTime;
    }
</script>
</body>

</html>