<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>購物商城-生活必備</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/mallStyles.css}">
</head>

<body style="background-color: #fff;">


	<header class="header">
		<div class="header-content">
			<div class="logo">
				<img src="/images/Für_Elise.svg" alt="Your Logo" width="500">
			</div>
			<nav class="navigation">
				<ul>
					<li><a href="#">方案介紹</a></li>
					<li><a th:href="@{/shopmall/}">購物商城</a></li>
					<li><a href="#">聯絡我們</a></li>
					<li><a href="#">成為收取夥伴</a></li>
					<li><a href="#"><img src="/images/shopping_cart.svg"
							alt="shopping cart"></a></li>
					<li><a href="#">登入/註冊(已登入狀態要改成會員中心)</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div style="display: flex;">
		<aside class="sidebar" >
    <a th:href="@{/shopmall/}" ><h2>購物商城</h2></a>
    <ul th:each="productClass : ${pClassList}">
    	<li><a th:href="@{'/shopmall/' + ${productClass.pClassID}}" th:text="${productClass.pClassName}"></a></li>
	</ul>
</aside>
		<main class="content">
			<p style="color: #a5a5a5; font-size: 12px;" th:text="${productClass.pClassName}"></p>

	<div th:each="product : ${productList}" th:if="${product.productClass.pClassID == #vars['pClassID']}" style="width: 15rem; margin: 2rem; display: inline-block;">
    <div class="card">
        <div id="blob_holder1" style="display: flex; justify-content: center; align-items: center;">
            <img th:src="@{/product/DBGifReader(pID=${product.pID}, image=1)}" width="230px" height="200px" />
        </div>
        <div class="card-body" style="text-align: center;">
            <a th:href="@{/shopmall/getone/{pID}(pID=${product.pID})}" style="color: black;">
                <h5 class="card-title" th:text="${product.pName}"></h5>
            </a>
            <p style="display: inline-block;" th:text="'$' + ${product.pPrice}"></p><br>
            <a th:href="@{/cart/add/{productId}(productId=${product.pID})}">
                <button class="btn btn-primary btn_addNext btn_off" type="submit" style="background-color:#9ac972 ; border:#9ac972">加入購物車</button>
            </a>
        </div>
    </div>
</div>
			
			        </main>
			    </div>





			<footer class="footer">
				<div class="footer-content">
					<div class="footer-section">
						<h3>網站導覽</h3>
						<ul>
							<li><a href="#">方案介紹</a></li>
							<li><a href="#">購物商城</a></li>
							<li><a href="#">聯絡我們</a></li>
							<li><a href="#">成為收取夥伴</a></li>
						</ul>
					</div>
					<div class="footer-section">
						<h3>關注Für Elise</h3>
						<a href="#"><img
							th:src="@{/images/entypo-social_fb-with-circle.svg}"
							alt="facebook Logo"></a> <a href="#"><img
							th:src="@{/images/entypo-social_instagram-with-circle.svg}"
							alt="instagram Logo"></a> <a href="#"><img
							th:src="@{/images/entypo-social_youtube-with-circle.svg}"
							alt="youtube Logo"></a>
					</div>

					<div class="footer-section">
						<h3>聯繫我們</h3>
						<p>
							給愛麗絲有限公司<br> 統一編號：90355170<br> 信箱test101@elise.com.tw<br>
							104台北市中山區南京東路三段219號5樓
						</p>
					</div>
				</div>
			</footer>
			<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
			<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
			<script type="text/javascript">
			 $(document).ready(function() {
			        // 發送 Ajax 請求
			        $.ajax({
			            type: 'GET',
			            url: '/shopmall/all-products',  // 替換為實際的路徑
			            success: function(response) {
			                // 更新 product 區域的內容
			                $('#productList').html(response);
			            },
			            error: function(error) {
			                console.log('Ajax request failed: ' + error.statusText);
			            }
			        });
			    });
			</script>
</body>

</html>