<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物商城-生活必備</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/header.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body style="background-color: #fff;">


<!--     <header class="header"> -->
        <div class="header-content">
            <div class="logo">
                <img src="/images/Für_Elise.svg" alt="Your Logo" width="500">
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="#">方案介紹</a></li>
                    <li><a href="#">購物商城</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">成為收取夥伴</a></li>
                    <li><a href="#"><img src="/images/shopping_cart.svg" alt="shopping cart"></a></li>
                    <li><a href="#">登入/註冊(已登入狀態要改成會員中心)</a></li>
                </ul>
            </nav>
        </div>
<!--     </header> -->

<!--     <div style="display: flex;"> -->
<!--         <aside class="sidebar"> -->
<!--             <h2>購物商城 -->
<!--             </h2> -->
<!--             <ul> -->
<!--                 <li><a href="#">生活必備</a></li> -->
<!--                 <li><a href="#">居家收納</a></li> -->
<!--             </ul> -->
<!--         </aside> -->
<!--         <main class="content"> -->
<!--             <p style="color: #a5a5a5; font-size: 12px;">購物商城>居家收納</p> -->


<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block ;> -->
<!--                 <img src="/images/product_bag.jpg" class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center; "> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">垃圾袋</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ; ">$200</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block ;> -->
<!--                 <img src="..." class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center;"> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">商品</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ; ">$$$</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block ;> -->
<!--                 <img src="..." class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center;"> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">商品</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ;">$$$</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <br> -->
<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block;> -->
<!--                 <img src="..." class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center;"> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">商品</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ;">$$$</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block;> -->
<!--                 <img src="..." class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center;"> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">商品</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ;">$$$</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->

<!--             <div class="card" style="width: 15rem; margin: 2rem;" display: inline-block;> -->
<!--                 <img src="..." class="card-img-top" alt="..."> -->
<!--                 <div class="card-body" style="text-align: center;"> -->
<!--                     <a href="./product_detail.html" style="color: black;"> -->
<!--                         <h5 class="card-title">商品</h5> -->
<!--                     </a> -->
<!--                     <p style="display: inline-block ; ">$$$</p> -->
<!--                     <br> -->
<!--                     <a href="#"><button class="btn btn-primary  btn_addNext btn_off" type="submit">加入購物車</button></a> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </main> -->
<!--     </div> -->





<!--     <footer class="footer"> -->
<!--         <div class="footer-content"> -->
<!--             <div class="footer-section"> -->
<!--                 <h3>網站導覽</h3> -->
<!--                 <ul> -->
<!--                     <li><a href="#">方案介紹</a></li> -->
<!--                     <li><a href="#">購物商城</a></li> -->
<!--                     <li><a href="#">聯絡我們</a></li> -->
<!--                     <li><a href="#">成為收取夥伴</a></li> -->
<!--                 </ul> -->
<!--             </div> -->
<!--             <div class="footer-section"> -->
<!--                 <h3>關注Für Elise</h3> -->
<!--                 <a href="#"><img src="/images/entypo-social_fb-with-circle.svg" alt="facebook Logo"></a> -->
<!--                 <a href="#"><img src="/images/entypo-social_instagram-with-circle.svg" alt="instagram Logo"></a> -->
<!--                 <a href="#"><img src="/images/entypo-social_youtube-with-circle.svg" alt="youtube Logo"></a> -->
<!--             </div> -->

<!--             <div class="footer-section"> -->
<!--                 <h3>聯繫我們</h3> -->
<!--                 <p> -->
<!--                     給愛麗絲有限公司<br> -->
<!--                     統一編號：90355170<br> -->
<!--                     信箱test101@elise.com.tw<br> -->
<!--                     104台北市中山區南京東路三段219號5樓 -->
<!--                 </p> -->
<!--             </div> -->
<!--         </div> -->
<!--     </footer> -->
<!--     <script src="./js/bootstrap.bundle.min.js"></script> -->
<!--     <script src="./js/jquery-3.7.1.min.js"></script> -->


</body>

</html>