<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>購物車</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/mallStyles.css}">
<!-- <script th:src="'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'"></script> -->

<style type="text/css">
.form-select{
width: 600px;
}
.mb-3{
width: 600px;
}
</style>
</head>

<body style="background-color: #fff;">
	<header class="headerPage"></header>

	<div
		style="display: flex; align-items: center; justify-content: center">
		<main class="content" style="min-height: 1000px;">


			<div class="card mb-3" th:each="product : ${cartEntrtSet}"
				style="width: 600px">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							th:src="@{/product/DBGifReader(pID=${product.key.pID}, image=1)}"
							alt="Product Image" class="img-fluid rounded-start" width="300px"
							height="300px">
					</div>
					<div class="col-md-8">
						<div class="card-body" style="width: 500px;">
							<a th:href="@{/shopmall/getone/{pID}(pID=${product.key.pID})}" style="color: black;">
								<h5 class="card-title" th:utext="${product.key.pName}" style="margin-top: 20px;">Product Name</h5>
							</a>
							<p style="display: inline;">單價:</p>
							<p style="display: inline-block; width: 60px;" class="card-title" th:utext="${product.key.pPrice}">Product Price</p>
							<p style="display: inline;">x</p>
							<form method="post" th:action="@{/shopcart/update}" th:id="'updateForm' + ${product.key.pID}" style="display: inline;">
							    <input type="hidden" name="memID" th:value="110001" />
							    <input type="hidden" name="pID" th:value="${product.key.pID}" />
							    <input type="number" name="quantity" min="1" th:value="${product.value}" style="width: 50px; margin-bottom: 20px;" oninput="updateQuantity(this)" />
							</form>

							<p style="display: inline; margin-right: 30px;">小計:</p>
							<p style="display: inline-block; width: 60px;" id="totalPrice" th:utext="${product.key.pPrice}*${product.value}"></p>
							<form method="post" th:action="@{/shopcart/remove}" style="display: inline;">
								<img th:src="@{/images/garbagecan.png}" style="width: 30px; height: 30px; margin-left: 20px;" type="button" class="deleteBtn" data-product-id="${product.key.pID}"> 
								<input type="hidden" name="pID" th:value="${product.key.pID}" />
							</form>
						</div>
					</div>
				</div>
			</div>

			寄送方式 
			<select id="deliver" class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin-bottom: 20px;">
			    <option th:value="0" data-shipping-fee="120.00" selected>黑貓宅急便</option>
			</select> <br> 
			
			<div id="twzipcode"></div>
			
			<br> 
			詳細地址
			<div class="input-group mb-3 ">
				<input id="floor" placeholder="必填" type="text" size="40%" required class="form-select form-select-sm" style="margin-top:20px;">
			</div>

			付款方式 
			<select id="payment" class="form-select form-select-sm" aria-label=".form-select-sm example"   >
				<option th:value="0">信用卡</option>
			</select>
			<br>
			<hr>
			
			<div style="display:flex;">
			    <div>
			        <p>優惠代碼:</p>
			        <input id="couponInput" type="text" style="display: inline-block">
			        <button id="applyCouponBtn" class="btn btn-primary" style="background-color: #9ac972; border: #9ac972;">使用優惠代碼</button>
			    	<div id="errorContainer"></div>
						
			    </div>
			
			
			
				<div style="margin-left:150px;">	
					<p style="display: inline-block">金額小計:</p>
					<p style="display: inline-block" id="orderTotalAmount">111</p><br>
					<p style="display: inline-block">優惠折抵:</p>
					<p style="display: inline-block" id="resultElement">0</p><br>
					<p style="display: inline-block">運費: <span id="shippingFee">120</span></p><br>
					<p style="display: inline-block">付款金額:</p>
					<p style="display: inline-block" id="orderGrandTotal"></p>
				</div>
					
			</div>



			<form th:action="@{/checkout/process}" method="post">
				<button type="submit" class="btn btn-primary" id="checkoutBtn"
					style="background-color: #9ac972; border: #9ac972;">送出結帳</button>
			</form>

		</main>
	</div>




	<footer class="footerPage"></footer>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:inline="javascript" th:src="@{https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js}"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        var memID = localStorage.getItem('memID');
	        console.log(memID);
	        $("#twzipcode").twzipcode();
	        $(".headerPage").load("/header.html");
	        $(".footerPage").load("/footer.html");
	        
	
	        $('#deliver').change(function () {
	            $('#selectedOption').text($('#deliver option:selected').text());
	            var shippingFee = $('option:selected', this).data('shipping-fee');
	            $('#shippingFee').text(shippingFee);
	            recalculateOrderTotal();
	        });
	
	        var quantityInputs = $("input[name='quantity']");
	        quantityInputs.change(function () {
	            var quantity = parseInt($(this).val()) || 0;
	            var productPriceText = $(this).closest(".card-body").find(".card-title").text();
	            var productPrice = parseFloat(productPriceText.replace(/[^\d.-]/g, '')) || 0;
	            var totalPrice = (productPrice * quantity).toFixed(2);
	            $(this).closest(".card-body").find("#totalPrice").text(totalPrice);
	            recalculateOrderTotal();
	        });
	
	        $(".deleteBtn").click(function () {
	            var productId = $(this).data("product-id");
	            console.log("刪除商品，ID：" + productId);
	            recalculateOrderTotal();
	            $(this).closest("form").submit();
	        });
	
	        var totalAmount = 0;
	        $(".card-body").each(function () {
	            var productTotalPrice = parseFloat($(this).find("#totalPrice").text()) || 0;
	            totalAmount += productTotalPrice;
	        });

	        var shippingFee = parseFloat($("#shippingFee").text()) || 0;
	        $("#orderTotalAmount").text(totalAmount.toFixed(2));
	        var orderGrandTotal = totalAmount + shippingFee;
	        $("#orderGrandTotal").text(orderGrandTotal.toFixed(2));
			
	        function recalculateOrderTotal() {
	            var totalAmount = 0;
	            $(".card-body").each(function () {
	                var productTotalPrice = parseFloat($(this).find("#totalPrice").text()) || 0;
	                totalAmount += productTotalPrice;
	            });
	
	            var discountAmount = parseFloat($("#resultElement").text()) || 0;
	            var shippingFee = parseFloat($("#shippingFee").text()) || 0;
	            var orderGrandTotal = discountAmount + shippingFee + totalAmount;
	
	            $("#orderTotalAmount").text(totalAmount.toFixed(2));
	            $("#orderGrandTotal").text(orderGrandTotal.toFixed(2));
	        }
	
	        document.getElementById('applyCouponBtn').addEventListener('click', function () {
	            var coupon = document.getElementById('couponInput').value;
	            var orderTotalAmountElement = $("#orderTotalAmount");
	
	            var saleDTO = {
	                coupon: coupon,
	                total: orderTotalAmountElement.text().trim()
	            };
	
	            var resultElement = $("#resultElement");
	            resultElement.text('');
	
	            var errorContainer = $("#errorContainer");
	            errorContainer.text('');
	
	            $.ajax({
	                url: 'http://localhost:8080/sale/coupon',
	                type: 'POST',
	                contentType: 'application/json',
	                data: JSON.stringify(saleDTO),
	                success: function (data) {
	                    if (data === '折扣碼不存在' || data === '未達折扣門檻') {
	                        errorContainer.html(data);
	                    } else {
	                        resultElement.html(data);
	                    }
	                    recalculateOrderTotal();
	                },
	                error: function (jqXHR, textStatus, errorThrown) {
	                    console.error('Error:', errorThrown);
	                    errorContainer.text('折扣碼不存在');
	                }
	            });
	        });
	    });
	
	    function updateQuantity(inputElement) {
	        var form = inputElement.closest('form');
	        if (form) {
	            form.submit();
	        }
	    }
	</script>


</body>

</html>