<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後臺-商品管理-商品查詢</title>
    <th:block th:replace="included-fragment.file"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{${pageContext.request.contextPath}/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{${pageContext.request.contextPath}/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{${pageContext.request.contextPath}/css/backend_form.css}">
    <link rel="stylesheet" th:href="@{${pageContext.request.contextPath}/css/backend_sidebar.css}">
    <style type="text/css">
        .status-true {
            background-color: #9ac972;
        }

        .status-false {
            background-color: #fe9a9a;
        }
    </style>
</head>

<body>
    <aside class="sidebar">

    </aside>
    <div class="headerPage"></div>

    <div class="container">
        <div class="backendSidebarPage"></div>
        <main class="content">
            <div>
                <p class="p_subtitle" style="float:left; margin-top:0;">優惠碼</p>
                <a th:href="@{backen_pro_add.jsp}"><button type="button"
                        class="sl_btn_chakan btn btn-primary" style="float:right; margin-bottom: 20px;">新增</button></a>
            </div>
            <p class="p_title">後臺-商品管理-商品查詢</p>
            <table id="example" class="display" style="width: 100%">
                <thead>
                    <tr style="height:20px">
                        <th>計數</th>
                        <th>商品編號</th>
                        <th>商品名稱</th>
                        <th>商品價格</th>
                        <th>庫存</th>
                        <th>商品狀態</th>
                        <th>修改</th>
                        <th>查看詳情</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, status : ${productListData}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${product.pID}"></td>
                        <td th:text="${product.pName}"></td>
                        <td th:text="${product.pPrice}"></td>
                        <td th:text="${product.pStock}"></td>
                        <td class="pStatus" th:classappend="${product.pStatus ? 'status-true' : 'status-false'}">
                            <span th:text="${product.pStatus} ? '上架中' : '未上架'"></span>
                        </td>
                        <td>
                            <form method="post"
                                action="@{${pageContext.request.contextPath}/product/product.do}">
                                <input type="submit" value="修改" class="sl_sp_badge"
                                    style="background-color: white; color: #9ac972; border: solid 1px #9ac972;">
                                <input type="hidden" name="pID" th:value="${product.pID}">
                                <input type="hidden" name="action" value="getOne_For_Update">
                            </form>
                        </td>
                        <td>
                            <form method="post"
                                action="@{${pageContext.request.contextPath}/product/product.do}">
                                <input type="submit" value="查看詳情" class="sl_sp_badge"
                                    style="background-color: #9ac972 ; ">
                                <input type="hidden" name="pID" th:value="${product.pID}">
                                <input type="hidden" name="action" value="getOne_For_Check">
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>計數</th>
                        <th>商品編號</th>
                        <th>商品名稱</th>
                        <th>商品價格</th>
                        <th>庫存</th>
                        <th>商品狀態</th>
                        <th>修改</th>
                        <th>查看詳情</th>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>

    <div class="footerPage"></div>

    <script th:src="@{${pageContext.request.contextPath}/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{${pageContext.request.contextPath}/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{${pageContext.request.contextPath}/js/jquery.dataTables.min.js}"></script>

    <script>
        new DataTable('#example');
    </script>
    <script th:src="@{backendSidebar.html}" th:remove="tag"></script>
    <script th:inline="javascript">
        const statusElements = document.querySelectorAll('.pStatus');

        // Iterate over each element
        statusElements.forEach(element => {
            const status = element.textContent.trim(); // Get element text content and remove spaces

            if (status === '上架中') {
                // If product status is '上架中', add 'status-true' class
                element.classList.add('status-true');
            } else if (status === '未上架') {
                // If product status is '未上架', add 'status-false' class
                element.classList.add('status-false');
            }
        });
    </script>
</body>

</html>
